*{
    padding:0;
    margin:0;
    overflow-x:hidden;
    font-family: 'Kumbh Sans', sans-serif;
}
.header_wrapper{
    background-color: purple;
    padding:20px;
    color:#fff;
    width:100%;
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
}
.main_container{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items:center;
}
.main_wrapper{
    position: absolute;
    top:12%;
    /* padding:20px 10px; */
    width: 95%;
    height:85%;
    background-color: #fff;
    border-radius: 30px;
    overflow-x:hidden;
    z-index: 10;
    box-shadow: 1px 2px 10px lightgray ;
    display:flex;
    align-items: center;
}
.home_main_wrapper{
    position: fixed;
    top:13%;
    padding:20px 5px;
    width: 95%;
    height:80%;
    background-color: #fff;
    border-radius: 30px;
    overflow:hidden;
    z-index: 10;
    box-shadow: 1px 2px 10px lightgray ;
}
.list_container{
    overflow-y: scroll !important;
    margin-bottom:20px;
    padding:8px;
    height:93%;
}
.single_list_item{
    font-size:15px;
    padding:6px;
    margin:6px 0;
    line-height: 1.6;
    font-weight: 500;
    border-bottom: 1px solid gray;
}
 .login-form{
     width:100%;
     padding:10px;
 }
.input_field{
    padding:12px;
    width:90%;
    border:1px solid purple;
    outline:none;
    border-radius: 10px;
    margin: 10px 0;
}
.log-btn{
    width:90%;
    padding:10px;
    text-align: center;
    border:none;
    background-color: purple;
    color: #fff;
    border-radius: 10px;
    font-weight: 550;
    font-size: 20px;
    box-shadow: 1px 1px 7px purple;
    cursor: pointer;
    margin:10px 0;
}
.input_container{
    display: flex;
    justify-content: center;
}

.add_btn{
    position:fixed;
    bottom:10%;
    display: flex;
    align-items: center;
    justify-content:center;
    right:10%;
    z-index: 100;
    height:50px;
    width:50px;
    padding:5px;
    border-radius: 50%;
    font-size: 25px;
    border:none;
    outline:none;
    background-color:purple;
    color:#fff;
}
.Add_modal_box{
    position:fixed;
    top:35%;
    left:10%;
    border:none;
    background:#fff;
    height:auto;
    width:250px;
    padding:20px;
    border-radius: 10px;
    outline:none;
}
.add_input_field{
    width:100%;
    border:none;
    outline:none;
    border-bottom: 2px solid purple;
    margin-bottom: 30px;
}
.modal_btn{
    border:none;
    outline:none;
    background-color: #fff;
    color:purple;
    text-align: center;
    font-weight: 550;
    float:right;
    margin-right: 20px;
}
.modal_card{
    position: fixed;
    top:0;
    height:98%;
    width:100%;
    background-color: #fff;
    padding:5px;
}
.modal_content{
    margin-top:50px;
    overflow-y: scroll;
    height:95%;
}
#simple-model-title{
    font-size:40px;
    font-weight: 500;
    padding-left: 20px;
}